.text-success {
  color: green;
  text-decoration: solid;
}

.text-danger {
  color: red;
  text-decoration: solid;

}

.fa-check {
  color: green;
  font-weight: bold;
}

.fa-times {
  color: red;
}
