<div class="main container">
  <div class="links flex-column flex-md-row">
    <div class="logo text-center text-md-start">
      <img src="https://go-bus.com/images/go-bus.png" alt="" />
    </div>
    <ul class="social">
      <li>
        <a href="https://www.facebook.com/YourFavIT/" target=""
          ><img src="https://go-bus.com/images/fb.png" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/mohammed-samy-ps/"
          target=""
          ><img src="https://go-bus.com/images/linkedin.png" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=201119633925&text=%20"
          target=""
          ><img src="https://go-bus.com/images/whatsapp.png" alt=""
        /></a>
      </li>
    </ul>
  </div>
  <hr />
  <p class="text-center text-md-start">
    © 2023 ALL COPYRIGHTS RESERVED - GO_ITI
  </p>
</div>
